/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

/* 
    General Styles Start
*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --barlow: "Barlow", sans-serif;
    --fraunces: "Fraunces", serif;
    --color-text-white: #fefcf7;
    --color-text-black: #83888f;
    --color-text-black-active: #333d4b;
    --color-pragraph-white: #cfd0cd;
    --color-pragraph-black: #333d4b;
    --card-background: #0e8784;
    --btn-active: #66d2cf;
    --question-background: #2a313a;
}

html {
    scroll-behavior: smooth;
}

body {
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
/* 
    General Styles End
*/

/* Header Section Start */
.header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 43.56px 80px 43.44px;
    background: #fefcf7;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 33px;
    list-style: none;
}

nav ul li a {
    font-family: var(--barlow);
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769276618958px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text-black);
}

nav ul li a:active {
    color: var(--color-text-black-active);
}
/* Header Section End */

/* Home Section Start */
.home-section,
.header-section,
.collection-section,
.question-section,
.plan-section,
.footer-section {
    background: #fefcf7;
}

.home-content {
    width: 1280px;
    margin: 0 auto;
    padding: 117px 85px 116px;
    border-radius: 15px;
    background: url(../Imgs/home-img.svg) center/cover no-repeat;
}

.home-section h1 {
    width: 493px;
    font-family: var(--fraunces);
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: var(--color-text-white);
}

.home-section p {
    width: 435px;
    margin: 32px 0 56px;
    color: var(--color-pragraph-white);
    font-family: var(--barlow);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn {
    border: none;
    background-color: var(--card-background);
    border-radius: 5px;
}

.btn:active {
    background-color: var(--btn-active);
}

.btn a {
    display: block;
    padding: 15px 31px 16px;
    font-family: var(--fraunces);
    font-family: Fraunces 9pt;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    text-decoration: none;
    color: var(--color-text-white);
}
/* Home Section End */

/* Collection Section Start */
.collection-section {
    padding: 136px 84.5px 50px;
}

.background {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 196px;
    background: url(../Imgs/background.svg) center/cover no-repeat;
    z-index: 1;
}

.collection-wrapper {
    position: relative;
    top: -65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 2;
}

.collection-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 71.55px;
}

.collection-card__content {
    text-align: center;
}

.collection-card__content h2 {
    margin-bottom: 24px;
    font-family: var(--fraunces);
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}

.collection-card__content p {
    width: 255px;
    font-family: var(--barlow);
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: var(--color-pragraph-black);
}
/* Collection Section End */

/* Question Section Start */
.question-section {
    padding: 100px 80px 84px;
}

.question-wrapper {
    position: relative;
    width: 1280px;
    margin: 0 auto;
    padding: 100px 85px 0;
    border-radius: 15px;
    background: var(--question-background);
}

.question-wrapper h3 {
    margin-bottom: 32px;
    font-family: var(--fraunces);
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    color: var(--color-text-white);
}

.question-wrapper h3 ~ p {
    width: 540px;
    margin: 0 auto;
    font-family: var(--barlow);
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: var(--color-pragraph-white);
}

.question-card-wrapper {
    position: relative;
    top: 86px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.question-card-wrapper .question-card {
    padding: 72px 47.5px 48px;
    text-align: center;
    border-radius: 10px;
    background: var(--card-background);
}

.question-card h4 {
    margin: 56px 0 24px;
    font-family: var(--fraunces);
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    color: var(--color-text-white);
}

.question-card p {
    width: 255px;
    color: var(--color-text-white);
}
/* Question Section End */

/* Plan Section Start */
.plan-section {
    padding: 200px 230px 170px 165px;
}

.plan-section h5 {
    font-family: var(--fraunces);
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: var(--color-text-black);
}

.line-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 95px 0 82px;
}

.circle {
    width: 31px;
    height: 31px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #008080;
}

.line {
    width: 380px;
    height: 2px;
    border: 2px solid #fdd6ba;
}

.steps-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 64px;
}

.step {
    text-align: left;
    width: 30%;
}

.step-number {
    font-family: var(--fraunces);
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    text-align: left;
    color: #fdd6ba;
}

.step h2 {
    width: 255px;
    margin: 38px 0 42px;
    font-family: var(--fraunces);
    font-size: 32px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    color: #333d4b;
}

.step p {
    width: 285px;
    font-family: var(--barlow);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #333d4b;
}
/* Plan Section End */

/* Footer Section Start */
.footer-section {
    padding: 0 80px 135px;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 47px 85px;
    background: #2c343e;
}

.footer ul li a:active {
    color: var(--color-text-white);
}

.first-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 103px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 24px;
}

.icons i {
    display: block;
    font-size: 27px;
    color: var(--color-text-white);
}

.icons i:active {
    color: #fdd6ba;
}
/* Footer Section End */
